.modal-background{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    background-color: #ced4da;
    opacity: .7;
    z-index: 999;
}

.modal{
    max-height: calc(100vh - 100px);
    width: calc(100% - 50px);
    background-color: white;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border-radius: 8px;
}

.modal-lg{
    width: 1320px;
}

.modal-md{
    width: 720px;
}

.modal-sm{
    width: 540px;
}

.modal .header-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 15px;
    font-size: 1.5rem;
    border-bottom: 2px solid var(--primary-color);
}

.header-modal .btn-close{
    background-color: transparent;
    border-color: transparent;
    padding: 5px;
    color: #ced4da;
    font-size: 1.5rem;
}

.modal .header-content{
    padding: 5px 15px;
}