.create-immobile{
    display: flex;
    justify-content: center;
}

.create-immobile form{
    width: 500px;
    background-color: white;
    transform: translateY(-80px);
    border-radius: 8px;
    padding: 35px;
}

form button[type="submit"]{
    width: 100%;
}

form label.create{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin: 0;
}