<header>
    <a href="#"><img class="logo" src="./assets/images/logo.png"></a>
    <nav>
        <ul>
            <li><a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
            <li><a routerLink="/imoveis" [routerLinkActive]="['active']" href="#">Imoveis</a></li>
            <li><a routerLink="/contato" [routerLinkActive]="['active']" href="#">Contato</a></li>
            <li><a routerLink="/sobre" [routerLinkActive]="['active']" href="#">Quem Somos</a></li>
        </ul>
    </nav>
</header>