<section class="filter-home">
    <form action=""> 
        <div class="filter-immovable">
            <label for="filter-immovable-comprar">
                <input type="radio" id="filter-immovable-comprar" name="imovel" value="comprar" autocomplete="off">
                Comprar
            </label>
            <label for="filter-immovable-alugar">
                <input type="radio" id="filter-immovable-alugar" name="imovel" value="alugar" autocomplete="off">
                Alugar
            </label>
            <label for="filter-immovable-todos" class="active">
                <input type="radio" id="filter-immovable-todos" name="imovel" value="todos" autocomplete="off" checked>
                Todos
            </label>
        </div>
        <div class="filter-basic bg-white">
            <select name="tipo">
                <option value="todos" selected>Qual Tipo?</option>
                <option value="todos">Todos</option>
            </select>
            <select id="cidade" name="cidade">
                <option value="todos" selected>Cidade</option>
                <option value="todos">Todos</option>
            </select>
            <select id="bairro" name="bairro" disabled>
                <option value="todos" selected>Bairro</option>
                <option value="todos">Todos</option>
            </select>
            <button>Buscar</button>
        </div>
        <div class="filter-alt">
            <p>Procurando imóveis? Temos diversas opções disponíveis. Encontre o imóvel perfeito para você.</p>
        </div>
    </form>
</section>