.header-home{
    position: relative;
    height: calc(100vh - 58px);
    background-image: url(../../../assets/images/Banner.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    width: 100%;
}

.header-home .filter-home{
    position: absolute;
    left: 50%;
    top: calc(50% - 58px);
    width: 800px;
    transform: translate(-50%, -50%);
  }

