<article class="card-immobile" (click)="openImmobile(immobile.reference)" (mouseover)="hoverImmobile()" (mouseout)="outImmobile()">
    <img src="./assets/uploads/images/{{immobile.image}}" alt="" [style]="styleImmobile">
    <div class="info">
        <div class="city">
            {{immobile.city?.description}}
        </div>
        <div class="neighborhood">
            {{immobile.neighborhood?.description}}
        </div>
    </div>
    <div class="data">
        <label class="ref">Ref. {{immobile.reference}}</label>
        <label>R$ {{immobile.price | mask: 'separator.2': '.' }}</label>
    </div>
</article>
