.emphasis-home .title{
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
}

.emphasis-home .immobiles{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

app-card-immobile{
    flex: 0 0 25%;
    max-width: 25%;
}