<form class="filter-immobile" [formGroup]="filterImmobile" (ngSubmit)="submitForm()"> 
    <div class="filter-basic bg-white">
        <input type="text" name="ref" formControlName="ref" [ngModel]="ref" placeholder="Ref." ngModel>
        <select name="city" formControlName="city" (change)="changeCity()" [ngModel]="city">
            <option value="">Cidade</option>
            <option *ngFor="let item of cities" [ngValue]="item.description">
            {{item.description}}
            </option>
        </select>
        <select name="neighborhood" formControlName="neighborhood" [ngModel]="neighborhood">
            <option value="">Bairro</option>
            <option *ngFor="let item of neighborhoods" [ngValue]="item.description">
                {{item.description}}
            </option>
        </select>
        <button>Buscar</button>
    </div>
    <div class="filter-alt">
        <p>Procurando imóveis? Temos diversas opções disponíveis. Encontre o imóvel perfeito para você.</p>
    </div>
</form>
